---
import BaseLayout from "../layouts/BaseLayout.astro";
const images = [
    "https://unsplash.com/photos/aerial-view-of-a-winding-river-through-a-dense-forest-mwaQp_50kz8",
];
---

<BaseLayout title="Test Portfolio">
    <div
        class="flex min-h-screen w-full items-center justify-center bg-gray-100"
    >
        <h1 class="text-[clamp(2rem,8vw,5rem)] text-center font-bold">text</h1>
    </div>
</BaseLayout>
